/* Global styles */
body {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* Login form styles */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}

input[type="submit"]:hover {
  background-color: #0000003b;
}

.error {
  color: red;
  margin-top: 10px;
}

footer {
  background-color: #f2f2f2;
  color: #666;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
