/* Home.module.css */

.home {
  background-color: black;
  color: white; /* Add white color for the text */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.home h1 {
  text-align: center;
}

/* Expiring and Quantity Low Lists */
.listContainer {
  background-color: black;
  color: white; /* Add white color for the text */
  padding: 20px;
}

.carousel {
  text-align: center;
}

.carouselContainer {
  flex: 1;
}

.carousel ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items horizontally */
  gap: 10px;
}

.carouselItem {
  background-color: rgb(146, 0, 0);
  color: white;
  border-radius: 5px;
  padding: 10px;
  /* Add any additional styles for the carousel item here */
  flex: 0 0 calc(20% - 10px); /* Fix the size of each item */
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Overall Sales Metrics */
.metricsContainer {
  background-color: cream;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.metrics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.metrics p {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  /* Add any additional styles for the metrics here */
}
