.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 50px;
}

.toggleButton {
  display: flex;
  height: 40px;
  width: 160px;
  border-radius: 20px;
  background-color: #ccc;
  cursor: pointer;
  overflow: hidden;
}

.toggleOption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  color: #fff;
  transition: background-color 0.3s ease;
}

.active {
  background-color: black;
}

.sidebar {
  padding-right: 50px;
}

.sidebar form {
  padding: 20px;
  background: #000000;
  border-radius: 10px;
  width: 100%;
}

.sidebar input,
.sidebar select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  color: #555;
  font-size: 1em;
}

.sidebar label {
  margin: 0 auto;
  display: block;
  color: #fff;
}

.sidebar button {
  color: #000000;
  border: 2px solid #000000;
  background-color: transparent;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 103%;
}

.sidebar h3 {
  color: #000000;
  margin-bottom: 20px;
}

.sidebar aside {
  margin-top: 40px;
  color: #555;
}

.sidebar aside li {
  margin: 10px;
}