/* navbar styles */
.navbar {
  width: 100%;
  background: rgb(0, 0, 0);
  padding: 20px 10px;
  box-sizing: border-box;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}
.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: #ffffff;
}
.logo {
  margin-right: 100%;
  max-width: 25%;
  vertical-align: middle;
}
.navbar button,
.navbar a {
  margin-left: 16px;
}
.navbar a {
  color: #ffffff;
  text-decoration: none;
}

.navbarContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.links {
  justify-self: end;
  display: flex;
  align-items: center;
}
