/* navbar styles */

.navbar {
  position: fixed;
  width: 100%;
  background: black;
  padding: 20px 10px;
  box-sizing: border-box;
  z-index: 2;
}

.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 1020px;
  align-items: center;
}

.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: #ffffff;
}

.logo {
  width: 120px;
  vertical-align: middle;
  width: 120px;
  vertical-align: middle;
  transition: transform 0.3s;}

.logo:hover {
  transform: scale(1.1);
}

.navbar a {
  margin-left: 16px;
  border: none;
  background: none;
  padding: 6px 12px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
  transition: transform 0.3s;
}

.navbar a:hover {
  transform: scale(1.2);
}

.navbarContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.links {
  justify-self: end;
  display: flex;
  align-items: center;
  transition: transform 0.3s;
}

.scroll-link {
  margin-left: 16px;
  border: none;
  background: none;
  padding: 6px 12px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
  transition: transform 0.3s;
}

.navbarContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.scroll-link:hover {
  transform: scale(1.2);
}