.signup-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}

.signup-form label {
  display: block;
  margin: 30px auto;
}

.signup-form span {
  display: block;
  margin-bottom: 6px;
}

.signup-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 95%;
}

.signup-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 100%;
}

.signup-form button:hover {
  background-color: #0000003b;
}
