@import url("https://www.dafontfree.net/embed/YmF5ZXItdHlwZWFyY2hpdHlwZSZkYXRhLzQ5L2IvMzk2ODYvQmF5ZXItVHlwZUFyY2hpVHlwZS5vdGY");

/* base styles */
h1 {
  margin: 0;
  font-size: 2em;
}
body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  font-size: 1.1em;
}
ul,
li,
p,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.btn {
  background: none;
  border: 2px solid #000000;
  padding: 6px 12px;
  border-radius: 4px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

.btn:hover {
  background: #000000;
  color: #fff;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
