@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://www.dafontfree.net/embed/YmF5ZXItdHlwZWFyY2hpdHlwZSZkYXRhLzQ5L2IvMzk2ODYvQmF5ZXItVHlwZUFyY2hpVHlwZS5vdGY");

/* base styles */
body {
  margin: 0;
  font-size: 1.1em;
  font-family: "bayer-typearchitype", sans-serif;
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.btn {
  background: none;
  border: 1px solid #ffffff;
  padding: 6px 12px;
  border-radius: 999px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
}
.btn:hover {
  background: #7e7e7e;
  color: #fff;
}
